.env
.env.platforms
.env.secrets
node_modules/
__pycache__
.pytest_cache
app/src/dist
app/docs
app/common
backend/common
.storage
*.tmp
*.db
*.geojson
.bin
.testdata
infra/gcp/.terraform
infra/gcp/deployer.json
infra/gcp/*.deployer.json
*.css
.venv
gcp-sa.json
*.bkp
*.draft.drawio
*.dtmp
*.mockdb.json
*.tmp.*