# Core dependences.
python-json-logger==4.0.0
fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3
sqlalchemy==2.0.25
psycopg2-binary==2.9.11
google-auth==2.40.3
cloud-sql-python-connector[pg8000]==1.18.4
alembic==1.16.4
bcrypt==4.0.1
jinja2==3.1.2
pillow==11.3.0
python-multipart==0.0.20
av==15.0.0
google-genai==1.39.1
google-cloud-storage==3.3.0
google-cloud-bigquery==3.38.0
python-dotenv==1.1.1
requests==2.32.3
pycountry==24.6.1
osm2geojson==0.2.6
geopandas==1.0.1
shapely==2.0.7
decorator==5.2.1
APScheduler==3.11.0
python-dotenv==1.1.1
cryptography==45.0.6
sqlparse==0.5.3
moviepy==2.2.1
# Ad platform dependencies.
google-ads==28.0.0
facebook-business==23.0.1
# Ad platform mock dependencies.
tinydb==4.8.2
# Integration suite dependencies.
opencv-python==4.12.0.88
