<campaign_info>
<business_name>{{ campaign.business.name }}</business_name>
{% if campaign.business.industry %}
<business_industry>{{ campaign.business.industry.value }}</business_industry>
{% endif %}
<business_description>{{ campaign.business.description }}</business_description>
<campaign_name>{{ campaign.name }}</campaign_name>
</campaign_info>